@media (max-width:1279px){

    .masters{
        margin-left: auto;
        margin-right: auto;
        width: 480px;
        padding-top: 84px;
        padding-bottom: 84px;
        background: $bg-color;
    }

    .masters-container{
        margin-left: auto;
        margin-right: auto;
        width: 448px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .masters-title-list{
        display: flex;
        align-items: center;
        @media (min-width:768px){
            margin-left: 120px;   
           }
    }

     .masters-line{
         width: 60px;
         height: 1px;
         background: $text-color;
     }

     .masters-title-text{
         margin-left: 20px;
         font-weight: 600;
         font-size: 11px;
         line-height: 15px;
         letter-spacing: 0.1em;
         text-transform: uppercase;
         color: $text-color;
     }

     .masters-title{
         margin-top: 20px;
         font-weight: bold;
         font-size: 42px;
         line-height: 49px;
         letter-spacing: 0.05em;
         color: $text-color;
         

         @media (min-width:768px){
          margin-left: 120px;   
         }
     }

     .masters-list{
         margin-top: 44px;
     }

     .masters-item{
         text-align: center;
     }

     .masters-item:not(:first-child){
         margin-top: 64px;
     }

     .masters-name{
         margin-top: 30px;
         font-size: 18px;
         line-height: 25px;
         letter-spacing: 0.02em;
         color: $text-color;
     }

     .type-of-work{
         margin-top: 8px;
         font-size: 14px;
         line-height: 19px;
         letter-spacing: 0.02em;
         color: $hover-color;
     }

     .masters-soc-list{
         margin-top: 30px;
         display: flex;
         justify-content: center;
     }

     .masters-soc-item{
         width: 44px;
         height: 44px;
         background: #ffffff;
         border-radius: 25px;
     }

     .masters-soc-item:not(:first-child){
         margin-left: 10px;
     }

     .icon{
         margin-top: 11px;
     }

     .svg-icon{
         fill: $text-color;
     }

     .masters-soc-item:hover .svg-icon{
         fill: $hover-color;
     }


    .first-master{
        background: url(/photo/mobile/first-master.jpg);

        @media (min-width:768px){
            background: url(/photo/laptop/first-master.jpg);
            width: 450px;
        }

        width: 418px;
        height: 346px;
        margin-left: auto;
        margin-right: auto;
    }

    .second-master{
        background: url(/photo/mobile/second-master.jpg);

        @media (min-width:768px){
            background: url(/photo/laptop/second-master.jpg);
            width: 450px;
        }

        width: 418px;
        height: 346px;
        margin-left: auto;
        margin-right: auto;
    }

    .third-master{
        background: url(/photo/mobile/third-master.jpg);

        @media (min-width:768px){
            background: url(/photo/laptop/third-master.jpg);
            width: 450px;
        }

        width: 418px;
        height: 346px;
        margin-left: auto;
        margin-right: auto;
    }
}



@media (min-width:768px){

    .masters{
        margin-left: auto;
        margin-right: auto;
        width: 768px;
        padding-top: 100px;
        padding-bottom: 100px;
        background: $bg-color;
    }

    .masters-container{
        margin-left: auto;
        margin-right: auto;
        width: 720px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media(min-width:1280px){
    .masters {
        padding-top: 130px;
        padding-bottom: 130px;
        background-color: #f7f7f7;
        margin-left: auto;
        margin-right: auto;
        width: 1280px;
      }

    .masters-container{
        margin-left: auto;
        margin-right: auto;
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
    }
      
      .masters-title-list {
        display: flex;
        align-items: center;
      }
      
      .masters-line {
        height: 1px;
        width: 60px;
        background: $text-color;
      }
      
      .masters-title-item:not(:first-child) {
        margin-left: 20px;
        font-weight: 600;
        font-size: 11px;
        line-height: 15px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $text-color;
      }
      
      .masters-title {
        margin-top: 20px;
        font-weight: bold;
        font-size: 42px;
        line-height: 49px;
        letter-spacing: 0.05em;
        color: $text-color;
      }
      
      .masters-list {
        display: flex;
        margin-top: 44px;
        text-align: center;
      }
      
      .masters-item:not(:first-child) {
        margin-left: 30px;
      }
      
      .masters-name {
        margin-top: 30px;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.02em;
        color: $text-color;
      }
      
      .type-of-work {
        margin-top: 8px;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.02em;
        color: $hover-color;
      }
      
      .masters-soc-list {
        display: flex;
        justify-content: center;
        margin-top: 30px;
      }
      
      .masters-soc-item:not(:first-child) {
        margin-left: 34px;
      }
      
      .icon:hover .svg-icon {
        fill: $hover-color;
      }

      .first-master{
        background: url(/photo/desktop/first-worker.jpg);
        width: 370px;
        height: 346px;
    }

    .second-master{
        background: url(/photo/desktop/second-worker.jpg);
        width:370px;
        height: 346px;
    }

    .third-master{
        background: url(/photo/desktop/third-worker.jpg);
        width: 370px;
        height: 346px;
    }
}